# Default owner for everything
*  @anhtdt-oucru

# 60HN - Antibiogram
/projects/60HN/antibiogram  @yendh-oucru @anhtdt-oucru

# 60HN - Individual Report
/projects/60HN/antibiogram  @tranglnh-oucru @anhtdt-oucru
